.d-flex {
  display: flex;
}
.row-flex {
  display: flex;
  margin: 8px 8px;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.space-beetwen {
  justify-content: space-between;
}
.d-block {
  display: block;
}
