@font-face {
  font-family: "SF Pro Text";
  src: url("/static/fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("/static/fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
